<mat-stepper class="container-fluid" orientation="vertical" [linear]="isLinear" #stepper>
  <!-- Icon overrides -->
  <ng-template matStepperIcon="number">
    <button type="button" mat-mini-fab color="link"><mat-icon >format_align_center</mat-icon></button>
  </ng-template>

  <ng-template matStepperIcon="edit">
    <button type="button" mat-mini-fab color="dark"><mat-icon >format_align_center</mat-icon></button>
  </ng-template>

  <!-- Stepper -->
  <mat-step>
    <ng-template matStepLabel state="about me"><p>About me</p></ng-template>
    <div class="row text-center">
      <div class="col-12 my-4">
        <p class="name my-4">{{ nombre }}</p>
        <p class="puesto">{{ puesto }}</p>
        <div class="row justify-content-center my-4">
          <div class="col-6">
            <p class="description px-2 py-2">
              {{ description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="margin" mat-button matStepperNext><fa-icon class="btnnext" [icon]="faArrowRight"></fa-icon></button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel state="projects"><p>Projects</p></ng-template>
    <div>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  my-4" *ngFor="let project of Projects">
          <div class="card" >
            <img src={{project.img}} class="card-img" alt="img" />
            <div class="card-img-overlay">
              <p class="card-title">{{project.name}}</p>
              <p class="card-text">{{project.info}}</p>
              <p class="card-text">{{project.description}}</p>
              <a class="card-text link" href="{{project.url}}" target="_blank">Visítalo aquí</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6 text-start">
          <button mat-button matStepperPrevious><fa-icon class="btnback" [icon]="faArrowLeft"></fa-icon></button>
        </div>
        <div class="col-6 text-end">
          <button mat-button matStepperNext><fa-icon class="btnnext" [icon]="faArrowRight"></fa-icon></button>
        </div>
      </div>

    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel state="contact"><p>Contact</p></ng-template>
    <div class="row icons my-4">
      <div class="col-lg-3 col-sm-6 col-xs-6 text-center my-4" *ngFor="let icon of icons">
        <div class="my-4"><fa-icon [icon]="icon.icon"></fa-icon></div>
        <p *ngIf="icon.name == 'E-mail'" class="link" target="_blank">{{icon.email}}</p>
        <a *ngIf="icon.name != 'E-mail'" href="{{icon.url}}" class="link" target="_blank">{{icon.name}}</a>
      </div>
    </div>
    <div class="container-button-back my-4">
      <button mat-button matStepperPrevious><fa-icon class="btnback" [icon]="faArrowLeft"></fa-icon></button>
    </div>
  </mat-step>
</mat-stepper>

<footer class="cont border-top border-warning bg-dark text-center">
  <div class="copyright text-center p-3">
    © 2021 Copyright:
    <a href="https://github.com/DavidArreaza">David Arreaza Gil</a>
  </div>
</footer>