@import '../styles.scss';

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes animation-text {
  0% {margin-top: 100px}
  100% {margin-top: 0px}
}


mat-stepper{
  height: 100%;
  background: $grey;
  //Para que la imagen no se repita y ocupe toda la pantalla
  /*background-image: url('../assets/img/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
}

p{
  color: $yellow;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.name{
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 70px;
}

.puesto{
  margin-top: 50px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.description{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 2px 1px 3px $shadowWhite;
}

img{
  max-width: 400px;
  height: 300px;
}

.card{
  width: 400px;
}

.card-img-overlay:hover{
  animation-name: animation-text;
  animation-duration: 0.1s;
  background: rgb(0, 0, 0, 0.6);
}

.card-title{
  display: none;
  color: whitesmoke;
  font-family: 'Unica One', cursive;
  font-size: 35px;
  font-weight: bold;
}

.card-text{
  display: none;
  font-family: 'Bebas Neue', cursive;
}

.card:hover .card-title{
  display: block;
  animation-name: animation-text;
  animation-duration: 1s;
}

.card:hover .card-text{
  display: block;
  animation-name: animation-text;
  animation-duration: 1s;
}

.icons{
  fa-icon{
    font-size: 60px;
    color: $shadowWhite;
  }
}

.btnback{
  color: whitesmoke;
  font-size: 30px;
  margin-top: 50px;
}

.btnnext{
  color: whitesmoke;
  font-size: 30px;
  margin-top: 50px;
}

.margin{
  margin-left: 95%;
}

.cont{
  position: relative;
  margin-top: 25px;
  bottom: 0px;
}

.copyright{
  color: $yellow;
  background-color: $grey;
}